<div class="container">
    <div class="page-header text-center">
        <h1>Eat Da Burger!</h1>
        <h4>Manage the burgers that YOU NEED to DEVOUR!</h4>
    </div>
    </br>
    <div class="row">
        <div class="col text-center">
            <h3>Burgers to DEVOUR</h3>
            {{!-- <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{/unless}}
                {{/each}}
            </ul> --}}
        </div>
        <div class="col text-center">
            <h3>DEVOURED Burgers</h3>
            {{!-- <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{/if}}
                {{/each}}
            </ul> --}}
        </div>
    </div>
    <div class="row">
        <form class = "mx-auto text-center">
            <h5>Add Burgers!</h5>
            <div class="form-group">
                <input type="text" class="form-control" id="burgerName"
                    placeholder="Enter Burger Name">
            </div>
            <button type="submit" class="btn btn-primary" id="burgerSubmit">Submit</button>
        </form>
    </div>
</div>